* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    background: gray;
}

img {
    border-radius: 5px;
}

button {
    background: black;
    color: green;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 20px;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: .2s;
}

button:hover {
    transform: scale(.9);
}