/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:wght@700;900&display=swap');
/*End of Import*/

.Title {
    color:mediumblue;
    background:lightblue;
    text-align: center;
}

p {
    color:mediumaquamarine;
    font-family: 'Hedvig Letters Sans';
}

h5 {
    color:darkblue;
    text-align: right;
}

h6 {
    color:darkcyan;
    text-align: center;
}
