@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');






label, p {
    font-family: 'Open Sans', sans-serif;
    color:seagreen;
}

.parent {
    width: 1510px;
    height: 650px;

    border: 3px solid darkslategrey;
    border-radius: 20px;

    padding: 10px;
    box-sizing: border-box;
}

#lastName {
    margin-top: 20px;
}

#checkboxGender {
    margin-top: 20px;
}

#emailText {
    margin-top: 20px;
}

#dateForm {
    margin-top: 20px;
}

#food {
    margin-top: 20px;
}

#customMSG {
    margin-top: 20px;
}

#address {
    margin-top: 20px;
}

#password {
    margin-top: 20px;
}

#telNumber {
    margin-top: 20px;
}

#submitButton {
    margin-top: 100px;
    font-size: 200%;
    margin-left: 30px;
}