@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=IBM+Plex+Sans:wght@500&family=Roboto:wght@700;900&display=swap');

.list_name {
    color:midnightblue;   background-color: limegreen;   text-transform: uppercase;   text-align: center;   font-family: 'IBM Plex Sans';
}
.leaders {
    color:midnightblue;
}