* {
    font-family: Arial;
}

body {
    background-image: url(/images/background2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.griditem1 {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    border-radius: 5px;
}

p.gridtext1 {
    color: white;
    font-size: x-large;
}

main.gridcontainer {
    display: grid;
    position: absolute;
    top: 200px;
    width: 700px;
    height: 500px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px;

    column-gap: 130px;
    row-gap: 20px;
}

.griditems1 {
    width: 150px;
    height: 150px;
    background-image: url(/images/kereselidze.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems1:hover {
    transform: scale(1.05);
}

.griditems2 {
    width: 150px;
    height: 150px;
    background-image: url(/images/gio.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems2:hover {
    transform: scale(1.05);
}

.griditems3 {
    width: 150px;
    height: 150px;
    background-image: url(/images/tyeshela.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems3:hover {
    transform: scale(1.05);
}

.griditems4 {
    width: 150px;
    height: 150px;
    background-image: url(/images/janeza.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems4:hover {
    transform: scale(1.05);
}

.griditems5 {
    width: 150px;
    height: 150px;
    background-image: url(/images/gabro.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems5:hover {
    transform: scale(1.05);
}

.griditems6 {
    width: 150px;
    height: 150px;
    background-image: url(/images/niko.png);
    background-size: cover;
    border-radius: 5px;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.griditems6:hover {
    transform: scale(1.05);
}

a {
    color: white;
    text-decoration: none;
}