* {
    font-family: Arial;
}

body {
    display: flex;
    background-image: url(/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.startup {
    width: 450px;
    height: 380px;
    border: 0px transparent;
    border-radius: 20px;
    background: darkslategray;
    position: relative;
    left: 16em;
    top: 11em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.startup:hover {
    background-color: darkslateblue;
    transform: scale(1.05);
}

.startupStart {
    width: 330px;
    height: 60px;
    border: 0px transparent;
    background: crimson;
    border-radius: 50px;
    position: relative;
    top: 40px;

    transition-property: transform, background;
    transition-duration: .7s;
    transition-delay: .2s;
    transition-timing-function: linear;

    animation: none;
}

@keyframes startButtonAnimation {
    0% {
        transform: scale(1);
    }

    25% {
        background: yellow;
        transform: scale(1.1);
    }
    50% {
        background: orange;
        transform: scale(1);
    }
    75% {
        background: orangered;
        transform: scale(1.1);
    }
    100% {
        background: crimson;
        transform: scale(1);
    }
}

.startupStart:hover {
    background: darkred;

    animation-name: startButtonAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.startupStartLink {
    text-decoration: none;
    color: white;
    font-size: large;

    position: relative;
    left: 25px;
    bottom: 3px;
}

.startupStartImage {
    position: relative;
    left: 40px;
    top: 10px;
}

.social {
    width: 330px;
    height: 60px;
    border: 0px transparent;
    background: navy;
    border-radius: 50px;

    position: relative;
    top: 20px;

    transition-property: transform, background;
    transition-duration: .7s;
    transition-delay: .2s;
    transition-timing-function: linear;

    animation: none;
}

@keyframes socialButtonAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        background: rgb(14, 2, 91);
        transform: scale(1.1);
    }
    50% {
        background: darkblue;
        transform: scale(1);
    }
    75% {
        background: rgb(15, 36, 88);
        transform: scale(1.1);
    }
    100% {
        background: rgb(0, 8, 75);
        transform: scale(1);
    }
}

.social:hover {
    background: rgb(8, 4, 105);

    animation-name: socialButtonAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.socialLink {
    text-decoration: none;
    color: white;
    font-size: large;

    position: relative;
    left: 50px;
    bottom: 7px;
}

.socialImage {
    position: relative;
    left: 70px;
    top: 10px;
}

.credits {
    width: 330px;
    height: 60px;
    border: 0px transparent;
    background: goldenrod;
    border-radius: 50px;

    transition-property: transform, background;
    transition-duration: .7s;
    transition-delay: .2s;
    transition-timing-function: linear;

    animation: none;
}

@keyframes creditsButtonAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        background: yellow;
        transform: scale(1.1);
    }
    50% {
        background: darkgoldenrod;
        transform: scale(1);
    }
    75% {
        background: gold;
        transform: scale(1.1);
    }
    100% {
        background: yellowgreen;
        transform: scale(1);
    }
}

.credits:hover {
    background: rgb(195, 231, 13);
    
    animation-name: creditsButtonAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.creditsLink {
    text-decoration: none;
    color: white;
    font-size: large;

    position: relative;
    left: 100px;
    bottom: 8px;
}

.creditsImage {
    position: relative;
    left: 120px;
    top: 10px;
}

.text {
    width: 300px;
    height: 100px;
    border: 0px transparent;
    background: darkslategray;
    transform: scale(2);
    border-radius: 20px;

    position: relative;
    top: 19em;
    right: 3em;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

.text:hover {
    background: darkslateblue;
    transform: scale(2.1);
}

.textChild {
    color: limegreen;
    text-align: center;
}

.textChild1 {
    color: red;
    text-align: center;
    text-decoration: underline darkred;

    position: relative;
    bottom: 20px;
}