* {
    font-family: Arial;
}

body {
    background-image: url(/images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation3 {
    width: 200px;
    height: 60px;
    border: 3px solid black;
    background: white;
    position: absolute;
    top: 100px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: all;
    transition-duration: .5s;
    transition-delay: .2s;
    transition-timing-function: linear;
}

p {
    color: white;
    font-size: x-large;
}

.navigation3:hover {
    transform: scale(1.05);
}

a {
    color: black;
    text-decoration: none;
}