body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;

    grid-template-areas:
    'aside header header header'
    'aside s1 s2 s3'
    'aside main main main'
    'aside footer footer footer'
    ;

    grid-template-columns: 160px auto auto auto;
    grid-template-rows: 200px 120px 22rem 70px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: white;
}

aside {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: aside;
}

header {
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
}

.s1 {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s1;
}

.s2 {
    background: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s2;
}

.s3 {
    background: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s3;
}

main {
    background: mediumaquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
}

footer {
    background: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}