@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body {
    background-color: darkcyan;
}

table {
    border-collapse: collapse;
}

tr:nth-child(1) {
    color:aliceblue;
    background-color: black;
}

.Dark {
    background-color: powderblue;
}

.Light {
    background-color: #FFFFFF;
}