* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

button {
    width: 200px;
    height: 60px;
}